.event_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding:10px;
    min-width: 280px;
    width: 300px;
    height: 275px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.event_card_image_container {
    align-self: center;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.event_card_image_container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.event_card_info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.event_card_info {
    display: flex;
    flex-direction: column;
    height: 50px;
    font-size: 0.9em;
}

.card_label {
    font-weight: bold;
}


.event_card_subtitle {
    font-weight: bold;
}

.favorite_button {
    width: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

@media (min-width: 600px) {
    .event_card_container {
        width: 280px;
    }

    .event_card_image_container {
        height: 150px;
    }
}
