.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.profile_title {
  color: var(--main-text-color);
  margin-bottom: 1rem;
}

.profile_box {
  padding: 1rem;
  background: var(--primary-color-transparent);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  color: var(--main-text-color);
}
